<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Se o arquivo ou diretório existir, serve normalmente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redireciona tudo para index.html (SPA fallback)
  RewriteRule ^ index.html [QSA,L]
</IfModule>
